<div class="jumbotron text-center">
	<div >
   	 	<table>
		  <tr>
		    <td>	    

		    </td>
		    <td>
		    </td> 


		    <td>



		    </td>

		  </tr>


		  <tr>
		    <td></td>

		    <td>
		    	
		    	<div class = "form-group" ng-controller = "controller0">

		    		<div ng-if = "submitted == false && edit == false">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"> </textarea>
		    			<input type="submit" id="submit" value="Submit" ng-click = "firstSentence()" />
		    			
		    		</div>

		    		<div ng-if = "submitted == true" ng-model = "sentenceData.content">
		    			<a href = "#"> {{sentenceData.content}}</a>
		    			<p></p>
		 				<button type = "submit" ng-click = "editSentence()" > Change </button>
		    		</div>

		    		<div ng-if = "submitted == false && edit == true">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"></textarea>
		    			<input type="submit" id="submit" value="Update" ng-click = "updateSentence()" />
		    			
		    		</div>

		    	</div>

		    	

		    </td> 

		    <td></td>
		  </tr>


		  <tr>
		    <td>
		    	

		    </td>
		    <td></td> 

		    <td>
		    	
		    </td>
		  </tr>
		</table>

	</div>

