<div class="jumbotron text-center">
	<div >
   	 	<table>
		  <tr>
		    <td>	    	

	    		<div class = "form-group" ng-controller = "controller1">

	    			<div ng-if = "submitted == false">
		    			<textarea class = "myForm" rows = "4" ng-model = "input"></textarea>
		    			<input type="submit" ng-click="saveSentence(input)"/>
		    		</div>

		    		<div ng-if = "submitted == true">
		    			<a href = "#"> {{sentence}} </a>
		    			<p></p>
		 				<button type = "submit" ng-click = "changeSentence()" > edit </button>
		    		</div>
	    			
	    		</div>

		    </td>
		    <td></td> 


		    <td>

		    	<div class = "form-group" ng-controller = "controller1">

		    		<div ng-if = "submitted == false">
		    			<textarea class = "myForm" rows = "4" ng-model = "input"></textarea>
		    			<input type="submit" ng-click="saveSentence(input)"/>
		    		</div>

		    		<div ng-if = "submitted == true">
		    			<a href = "#"> {{sentence}} </a>
		    			<p></p>
		 				<button type = "submit" ng-click = "changeSentence()" > edit </button>
		    		</div>

		    	</div>



		    </td>

		  </tr>


		  <tr>
		    <td></td>

		    <td>
		    	<div class = "form-group">

		    		<div ng-if = "submitted == false">
		    			<textarea class = "myForm" rows = "4" ng-model = "input"></textarea>
		    			<input type="submit" ng-click="saveSentence(input)"/>
		    		</div>

		    		<div ng-if = "submitted == true">
		    			<a href = "#"> {{sentence}} </a>
		    			<p></p>
		 				<button type = "submit" ng-click = "changeSentence()" > edit </button>
		    		</div>

		    	</div>

		    </td> 

		    <td></td>
		  </tr>


		  <tr>
		    <td>
		    	<div class = "form-group" ng-controller = "controller1">

		    		<div ng-if = "submitted == false">
		    			<textarea class = "myForm" rows = "4" ng-model = "input"></textarea>
		    			<input type="submit" ng-click="saveSentence(input)"/>
		    		</div>

		    		<div ng-if = "submitted == true">
		    			<a href = "#"> {{sentence}} </a>
		    			<p></p>
		 				<button type = "submit" ng-click = "changeSentence()" > edit </button>
		    		</div>

		    	</div>

		    </td>
		    <td></td> 

		    <td>
		    	<div class = "form-group" ng-controller = "controller1">

		    		<div ng-if = "submitted == false">
		    			<textarea class = "myForm" rows = "4" ng-model = "input"></textarea>
		    			<input type="submit" ng-click="saveSentence(input)"/>
		    		</div>

		    		<div ng-if = "submitted == true">
		    			<a href = "#"> {{sentence}} </a>
		    			<p></p>
		 				<button type = "submit" ng-click = "changeSentence()" > edit </button>
		    		</div>

		    	</div>
		    </td>
		  </tr>
		</table>

	</div>

