<div class="jumbotron text-center">
	<div >
   	 	<table>
		  <tr>
		    <td>
		    	<div class = "form-group" ng-controller = "quadController" ng-init = "refresh(0); main.refresh()">



		    		<div ng-if = "main.submitted == true && submitted == false && edit == false">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"> </textarea>
		    			<input type="submit" id="submit" value="Submit" ng-click = "addSentence(); refresh(0)" class = "submit"/>
		    			
		    		</div>

		    		<div ng-if = "main.submitted == true && submitted == true">
		    			<a href = "/{{sentenceData._id}}" class = "sentence" ng-click = "refresh(0)"> {{sentenceData.content}}</a>
		    			<p></p>
		 				<button type = "submit" ng-click = "editSentence(sentenceData._id)" class = "change" > Change </button>
		    		</div>
 
		    		 <div ng-if = "main.submitted == true && submitted == false && edit == true">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"></textarea>
		    			<input type="submit" id="submit" value="Update" ng-click = "updateSentence()" class = "submit" />
		    			
		    		</div> 

		    	</div>

		        

		    </td>

		    <td> 
		    	<div ng-if = "main.start == false">
		    		<button type = "submit"> <span><a href = "/{{main.firstId}}" class = "control sentence"> Back to Start </a> </span> </button>
		    	</div> 

		    	<button type = "submit" class = "warning change" ng-click = "main.deleteAll()" > Delete All </button>

		 	</td> 


		    <td>
		    	<div class = "form-group" ng-controller = "quadController" ng-init = "refresh(1); main.refresh()">



		    		<div ng-if = "main.submitted == true && submitted == false && edit == false">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"> </textarea>
		    			<input type="submit" id="submit" value="Submit" ng-click = "addSentence(); refresh(1)" class = "submit"/>
		    			
		    		</div>

		    		<div ng-if = "main.submitted == true && submitted == true">
		    			<a href = "/{{sentenceData._id}}" class = "sentence"> {{sentenceData.content}}</a>
		    			<p></p>
		 				<button type = "submit" ng-click = "editSentence(sentenceData._id)" class = "change" > Change </button>
		    		</div>
 
		    		 <div ng-if = "main.submitted == true && submitted == false && edit == true">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"></textarea>
		    			<input type="submit" id="submit" value="Update" ng-click = "updateSentence()" class = "submit" />
		    			
		    		</div> 

		    	</div>



		    </td>

		  </tr>


		  <tr>
		    <td>

		    	<div ng-if = "main.start == false">
		    		<button type = "submit"> <span> <a href = "/{{main.sentenceData.origin}}" class = "control sentence"> Back one </a> </span> </button>
		    	</div> 

		    </td>

		    <td>
		    	
		    	<div class = "form-group">


		    		<div ng-if = "main.submitted == true" ng-model = "main.sentenceData.content">
		    			<a href = "/{{main.sentenceData._id}}" class = "sentence"> {{main.sentenceData.content}}</a>
		    			<p></p>
		 				<button type = "submit" ng-click = "main.editSentence(main.sentenceData._id)" class = "change" > Change </button>
		    		</div>

		    		<div ng-if = "main.submitted == false && main.edit == true">
		    			<textarea class = "myForm" rows = "4"  ng-model = "main.sentenceData.content" spellcheck="true"></textarea>
		    			<input type="submit" id="submit" value="Update" ng-click = "main.updateSentence(main.sentenceData._id, main.sentenceData)" class = "submit" />
		    			
		    		</div>

		    	</div>

		    	

		    </td> 

		    <td></td>
		  </tr>


		  <tr>
		    <td>
		    	<div class = "form-group" ng-controller = "quadController" ng-init = "refresh(2); main.refresh()">



		    		<div ng-if = "main.submitted == true && submitted == false && edit == false">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"> </textarea>
		    			<input type="submit" id="submit" value="Submit" ng-click = "addSentence(); refresh(2)" class = "submit"/>
		    			
		    		</div>

		    		<div ng-if = "main.submitted == true && submitted == true">
		    			<a href = "/{{sentenceData._id}}" class = "sentence"> {{sentenceData.content}}</a>
		    			<p></p>
		 				<button type = "submit" ng-click = "editSentence(sentenceData._id)" class = "change" > Change </button>
		    		</div>
 
		    		 <div ng-if = "main.submitted == true && submitted == false && edit == true">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"></textarea>
		    			<input type="submit" id="submit" value="Update" ng-click = "updateSentence()" class = "submit" />
		    			
		    		</div> 

		    	</div>
		    	

		    </td>
		    <td></td> 

		    <td>

		    	<div class = "form-group" ng-controller = "quadController" ng-init = "refresh(3); main.refresh()">



		    		<div ng-if = "main.submitted == true && submitted == false && edit == false">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"> </textarea>
		    			<input type="submit" id="submit" value="Submit" ng-click = "addSentence(); refresh(3)" class = "submit"/>
		    			
		    		</div>

		    		<div ng-if = "main.submitted == true && submitted == true">
		    			<a href = "/{{sentenceData._id}}" class = "sentence"> {{sentenceData.content}}</a>
		    			<p></p>
		 				<button type = "submit" ng-click = "editSentence(sentenceData._id)" class = "change" > Change </button>
		    		</div>
 
		    		 <div ng-if = "main.submitted == true && submitted == false && edit == true">
		    			<textarea class = "myForm" rows = "4"  ng-model = "sentenceData.content" spellcheck="true"></textarea>
		    			<input type="submit" id="submit" value="Update" ng-click = "updateSentence()" class = "submit" />
		    			
		    		</div> 

		    	</div>
		    	
		    </td>
		  </tr>
		</table>

	</div>

